body{
    background-color: #151719;
}
p{
    max-width: 75ch;
    color: #9ca9b3;
    font-weight: 400;
    line-height: 30px;
    font-family: "Inter",sans-serif;
}
h1,h2,h3,h4{
    color: aliceblue;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -.3px;
}
span{
    color:#5658DC;
}
.test img{
    background-color: #5658DC;

    
}
.card-body{
    padding: 50px 40px;
}
.card-body::before{
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    margin-top: 12px;
    margin-bottom: 16px;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2218%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2013.481c0-2.34.611-4.761%201.833-7.263C3.056%203.716%204.733%201.643%206.865%200L11%202.689C9.726%204.382%208.777%206.093%208.152%207.824c-.624%201.73-.936%203.578-.936%205.545V18H0v-4.519zm13%200c0-2.34.611-4.761%201.833-7.263%201.223-2.502%202.9-4.575%205.032-6.218L24%202.689c-1.274%201.693-2.223%203.404-2.848%205.135-.624%201.73-.936%203.578-.936%205.545V18H13v-4.519z%22%20fill%3D%22%236163FF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
}
.name{
    color: aliceblue;
}
.text-dash{
    color: #9ca9b3;
}
.link a{
    color: #5ad390;
    text-decoration: none;
}
.previewing{
    background-color: #5658DC;
    padding: 40px 30px;
    
}

i{
    color: #5658DC;
}
.link-color a{
    color: #9ca9b3;
    text-decoration: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
iframe{
    width: 450px;
    height: 250px;
}
.colm{
    display: flex;
    flex-direction: column;
    margin: 20px 0;   
}
.cen{
    text-align: center;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    iframe{
        width: 550px;
        height: 300px;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
iframe{
        width: 700px;
        height: 400px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    iframe{
        width: 800px;
        height: 500px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    iframe{
        width: 1100px;
        height: 600;
    }
}